body {
  padding: 0;
  margin: 0;
}
.navbar{
  margin-bottom: 0px;
}
.navbar ul li a{
  font-size: 1.5em;
  display: block;
  height: 80%;
  padding: 25px;
  margin-top: 4px;
  border-radius: 5px;
  margin-left: -20%;
}
.navbar ul{
  float: right;
}
.navbar-inverse .navbar-nav>li>a {
   color: white;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: #DFCDCD;
}
.collapsing ul li, .in ul li{
  background: linear-gradient(to right , #808080, #404040);
  border-radius:  10px 0 0 10px;
}
.collapsing ul li:hover, .in ul li:hover{
  background: linear-gradient(to right , #808080, #404040);
  border-radius:  10px 0 0 10px;
}


.jumbotron{
  margin-top: 4%;
  font-family: fantasy;
  width: 100%;
  text-align: center;
  color: black;
  opacity: 0.5;
  border-radius: 10px;
  
}
.container-fluid{
 position: fixed;
 top: 0;
 left: 0;
 z-index: 9999;
 width: 100%;
 height: 50px;
 background: transparent;
}
.container-1{
  height: 1000px;
  background-image: url("home-office.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  top: -111px;
  color:	#404040;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-top: 0;
  font-size: 2vw;
  font-style: italic;
  transform-origin: right top;
  transform: skewY(5deg);

}
.content{
  transform: skewY(-5deg);
  top: 130px;
  position: relative;
}
.container-1 p{
  padding: 20px;
  color: white;
}
#right-align{
  text-align: right;
}
.img-thumbnail{
  margin: 10px;
  height: 20%;
  width: 20%;
  max-height: 445px;
  max-width: 300px;
}
.first-slide{
  text-align: center;
}
.carousel-inner .item img {
  margin: 0 auto;
  width: 100%;
  height: 90vh;
  margin-bottom: 50px;
}
.carousel-caption{
  font-size: 25px;
  text-align: right;
  top: 5px;
}
.carousel-caption h1, p{
  background: transparent;
}
.pageJobs>h1{
  text-align: center;
  font-family: fantasy;
  font-size: 4.5vw;
}

.pageSkills>h1{
  text-align: center;
  font-family: fantasy;
  font-size: 4.5vw;

}

.container-2{
  background-color:	#EBE8E3;
  height: 750px;
  width: 100%;
  margin-top: 30px;
  padding: 10%;
}

.imglogo{
  max-width: 160px;
  max-height: 160px;
}

.pageBottom{
  background: #404E4E;
  width: 100%;
  height: 250px;
  position: relative;
  bottom: 0;

}
#downside{
  text-align: center;
  background: #404E4E;
  color: black;
  padding: 3px;
  display: block;
  position: absolute;
  width: 100%;
  height: 150px;
  transform-origin: right;
  transform: skewY(185deg);
}
footer{
  transform: skewY(-5deg);
  padding: 5%;
}
.hasScrolled{
  background: none;

}
.hasScrolled ul li a {
  background: linear-gradient(to right , #808080, #404040);
  margin: 2%;
  border-radius: 0 0 10px 10px;
  padding-bottom: 10px;
  margin-top: 0;
  opacity: 0.7;
}
.hasScrolled ul li:hover {
  background: linear-gradient(to right , #808080, #404040);
  opacity: 1;
  border-radius: 0 0 10px 10px;
  margin-top: 0;
}
.hasScrolled ul li a:hover {
  opacity: 1;
}
@media screen and (max-width: 1200px) {
  .img-thumbnail{
    display: none;
  }
}
@media screen and (max-width: 450px) {
  p.typewrite{
    color: black;
    font-size: 0.7em;
  }
}
/*animuotos programavimo kalbos*/
.animation-element {
  opacity: 0;
  position: relative;
  max-width: 12vw;
  max-height: 12vw;
  margin: 6%;
  background-color: white;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/*animation slide left styled for testimonials*/

.animation-element.slide-left.testimonial {
  width: 47%;
  margin: 6%;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  border: solid 1px #EAEAEA;
}

.animation-element.slide-left.testimonial:hover,
.animation-element.slide-left.testimonial:active{
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}


/*media queries for small devices*/
@media screen and (max-width: 678px){
  /*testimonials*/
  .animation-element.slide-left.testimonial,
  .animation-element.slide-left.testimonial:nth-of-type(odd),
  .animation-element.slide-left.testimonial:nth-of-type(even){
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
  .animation-element.slide-left.testimonial .right,
  .animation-element.slide-left.testimonial .left,
  .animation-element.slide-left.testimonial .content,
  .animation-element.slide-left.testimonial .rating{
    text-align: center;
    float: none;
  }
  .animation-element.slide-left.testimonial img{
    width: 85px;
    height: 85px;
    margin-bottom: 5px;
  }
  
}